body {
    color:#333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

h1 {
background-image: url(img/sobre-background.jpg);
color: black
}

h2 {
    border-bottom: 2px solid #333333;
}

figure {
    background-color: #f2eded;
    text-align: center;
    border: 5px solid #ccc;
    color: black;
}

figcaption {
    font-style: italic;
}