.product-mirror {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px 10px;
}

.product-mirror > .price {
    font-style: italic;
    margin-bottom: 30px;
}

.product-mirror .color {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 450px) {
    .product-mirror {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-mirror > .title-mirror {
        text-align: center;
    }
}

@media (min-width: 840px) {
    .product-mirror {
        position: relative;
        display: block;
        margin-right: 20px;
        margin-left: 20px;
    }

    .product-mirror > .title-mirror {
        text-align: left;
        position: absolute;
        left: 448px;
    }

    .product-mirror > .price {
        position: absolute;
        left: 448px;
        top: 80px;
    }

    .product-mirror .button-mirror {
        position: absolute;
        max-width: 300px;
        left: 448px;
        bottom: 20px;
    }
}

@media (min-width: 1262px) {
    .product-mirror {
        margin-left: auto;
        margin-right: auto;
    }
}
